html, body, ul {
  margin: 0;
  padding: 0;
  user-select: none;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background: linear-gradient(238deg, rgba(2, 0, 36, 1) 27%, rgba(244, 0, 255, 1) 100%);
  background-attachment: fixed;
  background-position: center top;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin-left: 10%;
}

h1, h1 {
  font-size: 400%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-variant-caps: small-caps;
  background: -webkit-linear-gradient(#b508fa, #0063f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px 2px rgb(245, 168, 3));
}

@media (max-width: 768px) {
  h1, h1 {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  h1, h1 {
    font-size: 20px;
  }
}

.profile img {
  max-width: 120%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: 1;
  filter: drop-shadow(6px 6px 1px rgba(0, 0, 0, 1));
}

.profile h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 200%;
  font-variant-caps: small-caps;
  margin-bottom: 1px;
  background: -webkit-linear-gradient(#fa4008, #c2f800, #fc150d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(6px 6px 1px rgba(0, 0, 0, 1));
}

.profile p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .profile h2 {
    font-size: 150%;
  }

  .profile p {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .profile h2 {
    font-size: 120%;
  }

  .profile p {
    font-size: 12px;
  }
}


.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 1%;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons a {
  display: inline-block;
  width: 10%;
  height: auto;
  padding: 5%;
  color: #ffffff;
  border-radius: 50%;
  line-height: 0;
  transition: background-color 0.3s ease;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.social-icons {
  font-size: 2vw;
}

@media (max-width: 768px) {
  .social-icons a {
    width: 15%;
    padding: 3%;
  }
}

.social-icons a:hover {
  text-decoration: underline;
  color: #081fee;
  filter: drop-shadow(6px 6px 1px rgb(252, 252, 252));
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px;
}

header {
  background: -webkit-linear-gradient(#00000044, #f1c50042);
  padding: 5px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}
.logo{
  padding-right: 5%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-variant-caps: small-caps;
  color: white;
  text-decoration: none;
  font-family: initial;
  font-size: 120%;
  position: relative;
}

nav a:hover {
  filter: drop-shadow(1px 1px 1px rgb(253, 0, 0));
  text-decoration: underline;
}

#home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 30%;
}

.overlay {
  text-align: center;
  color: #fff;
}

.overlay h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.overlay p {
  font-size: 20px;
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  padding: 4px;
  background-color: #4d4dff;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  box-shadow: 0 0 3px #4d4dff, 0 0 10px #4d4dff;
}

@media (max-width: 768px) {
  .btn {
    padding: 4px 8px;
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  .btn {
    padding: 3px 6px;
    font-size: 8px;
  }
}


#about {
  height: 100vh;
  padding: 80px 0;
  font-variant-caps: small-caps;
  margin: 2%;
}

#about h2 {
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
  background: -webkit-linear-gradient(#fa4008, #c2f800, #fc150d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(6px 6px 1px rgba(0, 0, 0, 1));
}

#about p {
  font-size: 18px;
  text-align: center;
  color: white;
}

#portfolio {
  height: 100vh;
  padding: 80px 0;
  background: -webkit-linear-gradient(#fa4008, #c2f800, #fc150d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(6px 6px 1px rgba(0, 0, 0, 1));
  font-variant-caps: small-caps;
}

#portfolio h2 {
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  width: 100%;
  max-width: 700px;
  margin: 20px;
  text-align: center;
  position: relative;
}

.item img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 20px;
}

.item h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.item p {
  font-size: 16px;
  margin-bottom: 20px;
}

#contact {
  height: 75vh;
  padding: 80px 0;
}

#contact h2 {
  font-size: 36px;
  margin-bottom: 5px;
  text-align: center;
  background: -webkit-linear-gradient(#fa4008, #c2f800, #fc150d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(6px 6px 1px rgba(0, 0, 0, 1));
  font-variant-caps: small-caps;
}

#contact p {
  font-size: 18px;
  margin-bottom: 40px;
  text-align: center;
  background: -webkit-linear-gradient(#fa4008, #c2f800, #fc150d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(6px 6px 1px rgba(0, 0, 0, 1));
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

form .btn {
  background-color: #4d4dff;
  color: #fff;
  padding: 12px 30px;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form .btn:hover {
  background-color: #3333ff;
}

footer {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-variant-caps: small-caps;
  max-width: 100%;
}

.kodfun-galeri {
  display: flex;
  height: 20rem;
  gap: 1rem;
  position: relative;
  padding: 10%;
  padding-top: 0;
}

.kodfun-galeri > div {
  flex: 1;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
  filter: grayscale(100%);
  transition: 0.5s ease;
}

.kodfun-galeri > div:hover {
  flex: 5;
  transform: scale(1.1);
  filter: grayscale(0%);
  border-radius: 15px;
  box-shadow: 0 0 5px #ffe601, 0 0 20px #d505ff;
}


.picture-container {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 20px #000000;
  border-radius: 5px;
  min-height: fit-content;
}

.the-main-img {
  width: 100%;
  max-width: 600px;
  height: 0;
  padding-bottom: 75%;
  position: relative;
  overflow: hidden;
}

.the-main-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s;
  text-align: center;
}

.the-main-img:hover .img-description {
  opacity: 1;
}




.image-slides {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-slides img {
  width: 100px;
  height: 66px;
  cursor: pointer;
  opacity: .7;
  transition: transform .4s;
}

.image-slides img:hover {
  transform: scale(0.9);
}

.image-slides img.active {
  opacity: 1;
}

.image-slides img.active+.img-description {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (max-width: 600px) {
  .picture-container {
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-slides {
    justify-content: center;
  }

  .image-slides img {
    width: 50px;
    height: 33px;
    margin: 5px;
  }
}
